@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
	text-align: center;
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Prata', 'sans serif';
	background-image: url('https://wallpapercave.com/wp/wp3483915.jpg');
	background-size: cover;
	background-repeat: no repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.5rem;
}

.title {
  border: 1px solid green;
  width: 50%;
  margin: 0 auto;
  background-color: rgb(165, 188, 47);
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 20px;
}


#month {
	width: 50px;
}

#day {
	width: 50px;
}

#signChar {
	display: inline-flex;
	background-color: rgb(165, 188, 47);
	font-size: 2rem;
	width: 50%;
	border: 1px solid green;
	border-radius: 5px;
	padding: 10px;
	clear: both;
	text-align: center;
	justify-content: center;
}

#description {
	display: inline-flex;
	width: 50%;
	background-color: rgb(165, 188, 47);
	font-size: 1.5rem;
	padding: 10px;
	border: 1px solid green;
	border-radius: 5px;
	text-align: center;
	justify-content: center;
}

#pic {
	display: flex;
	max-width: 50%;
	max-height: 60%;
	clear: both;
	margin: 0 auto;
}

#readMore {
  clear: both;
  padding-right: 10px;
  padding-left: 10px;
  
}

#pic img {
  width: 40%;
  height: 60%;
  border: 1px solid green;
  margin: 0 auto;
}

@media only screen and (max-width: 720px) {

body {
	background-position: center;
	background-size: cover;
	}
	
h1 {
	font-size: 2rem;
	width: 100%;
	overflow: auto;
	margin: 0;
	margin-top: 60px;
	}

h2 {
	font-size: 1.5rem;
	}
	
input{
	width: 40%;
	align: center;
	padding: 20px;
	}
	
.title {
	display: block;
	margin: 0 auto;
	width: 45%;
	clear: both;
}
  
.whacka {
	display: block;
	margin: 0 auto;
	width: 45%;
	clear: both;
	text-align: center;
}

input + button {
	width: 50%;
	float: left;
	margin: 20px 25%;
	padding: 10px;
}


#signChar{
	display: block;
	font-size: 1rem;
	clear: both;
	width: 45%;
	margin: 0 auto;
	margin-top: 10px;
}

#pic{
	display: block;
	margin: 0 auto;
	width: 45%;
	clear: both;
}

#description {
	display: flex;
	font-size: 1rem;
	clear: both;
	width: 45%;
	margin: 0 auto;
	martin-top: 10px;
	visibility: hidden;
}
  
#readMore > p {
	word-wrap: break-word;
}

#pic img {
	  width: 45%;
	  height: 60%;
	  border: 1px solid green;
	  margin: 0 auto;
	}

}